##Perm et Config Menu ADMIN##
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace group.admin command.eup
add_principal identifier.e3424c86481b8b009bd30219834270eaadc1a9bf group.admin
add_ace resource.es_extended command.add_principal allow
add_ace resource.suptime command.sets allow
add_ace resource.uptime command.sets allow
setr ea_LanguageName "fr"                # set our language to english
setr ea_MenuButton "121"			# set our menu button to F2. default: "289"
setr ea_alwaysShowButtons "false"	# we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "false"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
set ea_custombanlist "false"            # read docs for this, dont touch it
set ea_enableCallAdminCommand "false" # enables "calladmin" command via webhook
set ea_enableReportCommand "true" # enables "report" command, see Configuration Wiki Page for More infos
setr ea_screenshoturl ""
setr ea_screenshotfield "files[]"
add_ace group.admin easyadmin allow
add_ace group.mod easyadmin allow
add_ace group.moderator easyadmin allow